body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  position: relative;
}

.table-pages-navigation {
  position: absolute;
  bottom: -2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.table-pages-navigation p{
  float: left;
}

.table-spinner {
  position: fixed;
  top: 40%
}

.details-title {
  font-size: 24px;
  font-weight: bold;
  color: '#794f4f'
}

.list-tip {
  font-size: 12px;
  opacity: 0.6;
}

.table-header {
  text-transform: capitalize;
  letter-spacing: 1px;
}